<style>
    .Names{
        font-size: 24px;
        font-weight: bold;
        color: #eee;
        display: flex;
        padding: 10px;
        width: 250px;
    }
    
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .Name-card{
        border: solid;
        border-width: 3px;
        color: #eee;
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
    }

    #Name-btn{
        background-color: #3358ad;
        color: #eee;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #Name-btn:active{
        background-color: #2a4a7f;
        color: black;
    }

    .Modal{
        position: absolute;
        top: 20px;
        left: 50%;
        height: 600px;
        width: 500px;
        background-color: white;
        color: #333;
        text-align: center;
        padding-top: 2%;
    }

    body{
        background-color: #333;
    }

    .Modal-Image{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

</style>

<div class="container" style="padding-top: 50px;">
    
    <br>
    <div *ngFor="let character of data; let i = index" class="Name-card">
        <span class="Names">{{ character.name }}</span>
        <button id="Name-btn" (click)="ModalToggle(character.name, character.alternate_names, character.house)">Learn More</button>
    </div>
    <div class="Modal" *ngIf="IsVisible">
        <h1>{{ SelectedCharacter }}</h1>
        <h2>{{SelectedCharacterAltNames.length > 0 ? SelectedCharacterAltNames : "None"}}</h2>
        <h3>House: {{this.SelectedCharacterHouse}}</h3>
        <div (click)="TurnModalOff()">Exit X</div>
    </div>
</div>

