<style>
    .Names{
        font-size: 24px;
        font-weight: bold;
        color: #eee;
        display: flex;
        padding: 10px;
        width: 250px;
    }
    
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
    }

    .Name-card{
        border: solid;
        border-width: 3px;
        color: #eee;
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
        background-repeat: no-repeat;
        background-position: auto;
        background-size: contain;
    }

    .Modal{
        position: relative;
        left: .5vh;
        top: .5vh;
        height: 500px;
        width: 400px;
        background-color: white;
    }

</style>

    <div class="container" style="padding-top: 50px;">
        <div *ngFor="let character of data; let i = index" class="Name-card"  style="background-image: '{{character.image}}'; ">
            <span class="Names">{{ character.name }}</span>
            <button id="Name-btn" (click)="ModalToggle()">Learn More</button>
        </div>
        <div class="Modal" *ngIf="IsVisible">Something</div>
    </div>
